body
  height 100%

hr
  border-bottom 1px bordino solid
  margin-right -15px

.help-block
  font-size 14px

.btn-primary
  background green
  &:hover
    background lighten(green, 3)
  &:active
    background green
  &:focus
    background darken(green, 3)

.form-control
  height 35px

.control-label
  line-height 35px

.input-group-addon
  g-pad = 9px
  padding-top g-pad
  padding-bottom g-pad
  background black

.dropdown-toggle
  width calc(100% \+ 30px)
  margin-left -15px
  margin-right -15px
  height 35px

.dropdown-toggle .caret
  position absolute
  right 0
  top 14px

.selected
  float left

.dropdown-arrow
  right 80%

.dropdown-inverse li
  width: 94%

.select
  width 229px
  margin-left -15px
  margin-right -15px
  .btn.btn-hg
    width 100%
    .filter-option
      font-size 14px
      top 0
      line-height 35px    

.form-group
  margin-bottom 5px

.btn-selector
  background light-black

.form-control[disabled], .form-control[readonly], fieldset[disabled], input
  color black
  opacity 1

.btn[disabled]
  opacity 1
  color white

.dropdown-menu li a span, .select button span
  text-transform capitalize

.form-horizontal .has-feedback .form-control-feedback
  right 45px !important