@-webkit-keyframes shake {
  33% {
    -webkit-transform: rotate(90deg);
  }

  66% {
    -webkit-transform: rotate(-90deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
  }
}
@-moz-keyframes shake {
  33% {
    -moz-transform: rotate(90deg);
  }

  66% {
    -moz-transform: rotate(-90deg);
  }

  100% {
    -moz-transform: rotate(90deg);
  }
}
@-o-keyframes shake {
  33% {
    -o-transform: rotate(90deg);
  }

  66% {
    -o-transform: rotate(-90deg);
  }

  100% {
    -o-transform: rotate(90deg);
  }
}
@-moz-keyframes shake {
  33% {
    transform: rotate(90deg);
  }

  66% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes shake {
  33% {
    transform: rotate(90deg);
  }

  66% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
@-o-keyframes shake {
  33% {
    transform: rotate(90deg);
  }

  66% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
@-ms-keyframes shake {
  33% {
    transform: rotate(90deg);
  }

  66% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
@keyframes shake {
  33% {
    transform: rotate(90deg);
  }

  66% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
#left-sidebar {
  position: fixed;
  height: 100%;
  width: 100px;
  background: #313131;
}
#left-sidebar #logo {
  background: #404040;
  padding-top: 0.1em;
}
#left-sidebar #logo #moreco-logo {
  width: 80%;
  display: block;
  margin: 0.5em auto 0 auto;
}
#left-sidebar #logo #moreco-caption {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#left-sidebar #new-session {
  transition: 0.3s;
  padding: 0.5em;
}
#left-sidebar #new-session:hover {
  background: #404040;
  transition: 0.3s;
}
#left-sidebar #new-session:hover p {
  -webkit-animation: shake 0.5s linear infinite;
  animation: shake 0.5s linear infinite;
}
#left-sidebar #new-session p {
  -webkit-animation: shake 0.5s linear infinite;
  animation: shake 0.5s linear infinite;
  display: inline-block;
  font-size: 8em;
  color: #fff;
  font-weight: 300;
  line-height: 75px;
  text-align: center;
  margin-bottom: 0;
}
#sponsor-sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  background: #ecf0f1;
  padding-top: 0.5em;
}
#sponsor-sidebar img {
  padding: 0.5em 0 0;
}
