@import '../bootstrap/css/bootstrap.css'
@import 'flat-ui.css'

// vendor prefixes
@import 'nib/index'

//varie ed eventuali
@import "colors"
@import "animations"

//cose overridate da flatui in maniera definitiva
@import "flat-ui-overrides"

//sidebar
#left-sidebar
  position absolute
  height 100%
  width 100px
  background black
  z-index 255

  .logo-deactive
    background none !important

  #logo
    background light-black
    padding-top .1em

    #moreco-logo 
      width 80%
      display block
      margin .5em auto 0 auto
    #moreco-caption
      color white
      text-align center
      margin-top 0
      margin-bottom 0

  .new-session-active
    background light-black
    transition .3s
    p
      transform rotate(90deg)

    &:after
      transition .3s
      height 0
      width 0
      content " "
      position absolute
      bottom -10px
      left 39px
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid light-black;

  #new-session
    transition .3s
    padding .5em
    line-height 65px
    height 83px
    position relative
    margin-bottom 20px

    &:hover
      background light-black
      transition .3s

      &:after
        transition .3s
        height 0
        width 0
        content " "
        position absolute
        bottom -10px
        left 39px
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid light-black;

      p
        //balla
        animation: shake .3s ease 1;

    p
      transition .3s
      cursor pointer
      font-size 7em
      color white
      font-weight 300
      line-height 65px
      text-align center
      margin 0

  .active
    background light-black
    transition .3s
    border-left 5px green solid

  .categoria
    transition .3s
    cursor pointer
    display none

    #menu-famiglia, #menu-abitazione, #menu-trasporti, #menu-spostamenti
      height 60px
      display block
      margin 0 auto
      padding .6em
      transition .3s

    &:hover
      background light-black
      transition .3s

//tasto avanti
#abitazione-avanti, #famiglia-avanti, #trasporti-avanti, #spostamenti-avanti
  padding .5em 0
  position fixed
  bottom 0px
  text-align center
  width 499px
  background light-grey
  border-top bordino 1px solid

//titolo fermo
#trasporti-form, #abitazione-form, #famiglia-form, #spostamenti-form
  // transition 1s ease-in-out;
  padding-top 50px
  h1
    position fixed
    top 0
    width 499px
    z-index 1

#famiglia-form
  z-index 5
#abitazione-form
  z-index 4
#trasporti-form
  z-index 3
#spostamenti-form
  z-index 2
  

//barra sponsor
#sponsor-sidebar
  position absolute
  right 0
  height 100%
  background light-grey
  padding-top .5em

  img
    padding 1em 0 0
    width 90%
    display block
    margin 0 auto

// welcome screen
#welcome
  larg = 500px

  position absolute
  top 20%
  width larg
  left calc(50% \- 250px)
  h1
    background black
    color white
    font-weight bold
    margin 0
    text-align center
    font-size 40px
    border-radius 5px 5px 0 0 
    padding .2em 0
    img
      height 40px
      position absolute
      left 10px
  p
    background green
    color white
    padding 1em 4em
    text-align center
    line-height 1.2em
    border-radius 0 0 5px 5px
    button
      text-align center
      display block
      margin 1em auto 0

//form
.form-horizontal .control-label
  text-align: left;
  padding-top 0

.tagsinput-add, .tagsinput-remove
  background none
  border: 2px blue solid;
  border-radius: 3px;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-top 1px
  margin-bottom 1px
  padding: 7px 9px;
  vertical-align: top;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  &:hover
    opacity .5
    background none
  &:active
    transition .1s ease
    opacity 1

.tagsinput-add
  margin-left 10px

.tagsinput-remove:before
  content "\e600"
  font-family "Flat-UI-Icons"

.form
  position absolute
  width 500px
  background light-grey
  border-right 1px bordino solid
  margin-left 100px
  height 100%
  overflow scroll
  
  h1
    background green
    color white
    margin 0
    font-size 35px
    padding 10px 36px
    font-weight regular

  .form-campi
    padding 36px 36px 80px

    label
      font-size 16px
      font-weight bold

// ## FAMIGLIA ##
// #famiglia-form
//   display none

.famiglia-input
  width 100px
  display block
  float left

// ## ABITAZIONE ##
// #abitazione-form
//   display none

#costo-conosciuto
  display none

// ## Trasporti & Spostamenti ##
// #trasporti-form
//   display none
// #spostamenti-form
//   display none

#titolo-auto, #titolo-mezzi, #titolo-spostamento
  font-size 1.6em
  margin .4em 0
  .tagsinput-add
    color green
    border-color green
    font-size .3em

#aggiungi-auto, #aggiungi-mezzo
  display none

.conferma-trasporti
  margin-top 20px
  margin-bottom 50px
  div 
    display inline-block

.tabella-auto, .tabella-mezzo
  margin-right 15px
  margin-left 15px
  margin-bottom 20px
  margin-top 10px
  padding-left 60px
  padding-bottom 10px
  border-bottom 2px bordino solid
  p
    margin-bottom 0

.nome-auto, .nome-mezzo
  font-size 1.1em
  margin 0
  position relative
  
.nome-auto::before
  background grey
  content " "
  border-radius 50%
  height 45px
  width 45px
  position absolute
  top 0
  left -60px

.nome-mezzo::before
  background grey
  content " "
  border-radius 50%
  height 45px
  width 45px
  position absolute
  top 0
  left -60px