@import '../bootstrap/css/bootstrap.css';
@import 'flat-ui.css';
@-moz-keyframes shake {
  33% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  66% {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-webkit-keyframes shake {
  33% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  66% {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-o-keyframes shake {
  33% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  66% {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-ms-keyframes shake {
  33% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  66% {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@keyframes shake {
  33% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  66% {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  100% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
body {
  height: 100%;
}
hr {
  border-bottom: 1px #acacac solid;
  margin-right: -15px;
}
.help-block {
  font-size: 14px;
}
.btn-primary {
  background: #79b31f;
}
.btn-primary:hover {
  background: #82c021;
}
.btn-primary:active {
  background: #79b31f;
}
.btn-primary:focus {
  background: #70a61d;
}
.form-control {
  height: 35px;
}
.control-label {
  line-height: 35px;
}
.input-group-addon {
  padding-top: 9px;
  padding-bottom: 9px;
  background: #313131;
}
.dropdown-toggle {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  height: 35px;
}
.dropdown-toggle .caret {
  position: absolute;
  right: 0;
  top: 14px;
}
.selected {
  float: left;
}
.dropdown-arrow {
  right: 80%;
}
.dropdown-inverse li {
  width: 94%;
}
.select {
  width: 229px;
  margin-left: -15px;
  margin-right: -15px;
}
.select .btn.btn-hg {
  width: 100%;
}
.select .btn.btn-hg .filter-option {
  font-size: 14px;
  top: 0;
  line-height: 35px;
}
.form-group {
  margin-bottom: 5px;
}
.btn-selector {
  background: #404040;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled],
input {
  color: #313131;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.btn[disabled] {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #fff;
}
.dropdown-menu li a span,
.select button span {
  text-transform: capitalize;
}
.form-horizontal .has-feedback .input-group .form-control-feedback {
  right: 50px;
}
.glyphicon-ok::before {
  display: none;
}
.has-error .input-group-addon {
  color: #fff;
  border-color: #c0392b;
  background-color: #c0392b;
}
.has-success .input-group-addon {
  color: #fff;
  border-color: #79b31f;
  background-color: #79b31f;
}
.has-error .form-control {
  color: #c0392b;
  border-color: #c0392b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: inherit;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: inherit;
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 0;
}
#left-sidebar {
  position: absolute;
  height: 100%;
  width: 100px;
  background: #313131;
  z-index: 255;
}
#left-sidebar .logo-deactive {
  background: none !important;
}
#left-sidebar #logo {
  background: #404040;
  padding-top: 0.1em;
}
#left-sidebar #logo #moreco-logo {
  width: 80%;
  display: block;
  margin: 0.5em auto 0 auto;
}
#left-sidebar #logo #moreco-caption {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#left-sidebar .new-session-active {
  background: #404040;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#left-sidebar .new-session-active p {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#left-sidebar .new-session-active:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  height: 0;
  width: 0;
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 39px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #404040;
}
#left-sidebar #new-session {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5em;
  line-height: 65px;
  height: 83px;
  position: relative;
  margin-bottom: 20px;
}
#left-sidebar #new-session:hover {
  background: #404040;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#left-sidebar #new-session:hover:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  height: 0;
  width: 0;
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 39px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #404040;
}
#left-sidebar #new-session:hover p {
  -webkit-animation: shake 0.3s ease 1;
  -moz-animation: shake 0.3s ease 1;
  -o-animation: shake 0.3s ease 1;
  -ms-animation: shake 0.3s ease 1;
  animation: shake 0.3s ease 1;
}
#left-sidebar #new-session p {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 7em;
  color: #fff;
  font-weight: 300;
  line-height: 65px;
  text-align: center;
  margin: 0;
}
#left-sidebar .active {
  background: #404040;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-left: 5px #79b31f solid;
}
#left-sidebar .categoria {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: none;
}
#left-sidebar .categoria #menu-famiglia,
#left-sidebar .categoria #menu-abitazione,
#left-sidebar .categoria #menu-trasporti,
#left-sidebar .categoria #menu-spostamenti {
  height: 60px;
  display: block;
  margin: 0 auto;
  padding: 0.6em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#left-sidebar .categoria:hover {
  background: #404040;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#abitazione-avanti,
#famiglia-avanti,
#trasporti-avanti,
#spostamenti-avanti {
  padding: 0.5em 0;
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 499px;
  background: #ecf0f1;
  border-top: #acacac 1px solid;
}
#trasporti-form,
#abitazione-form,
#famiglia-form,
#spostamenti-form {
  padding-top: 50px;
}
#trasporti-form h1,
#abitazione-form h1,
#famiglia-form h1,
#spostamenti-form h1 {
  position: fixed;
  top: 0;
  width: 499px;
  z-index: 1;
}
#famiglia-form {
  z-index: 5;
}
#abitazione-form {
  z-index: 4;
}
#trasporti-form {
  z-index: 3;
}
#spostamenti-form {
  z-index: 2;
}
#sponsor-sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  background: #ecf0f1;
  padding-top: 0.5em;
  z-index: 256;
}
#sponsor-sidebar img {
  padding: 1em 0 0;
  width: 90%;
  display: block;
  margin: 0 auto;
}
#welcome {
  position: absolute;
  top: 20%;
  width: 500px;
  left: calc(50% - 250px);
}
#welcome h1 {
  background: #313131;
  color: #fff;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 40px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 0.2em 0;
}
#welcome h1 img {
  height: 40px;
  position: absolute;
  left: 10px;
}
#welcome p {
  background: #79b31f;
  color: #fff;
  padding: 1em 4em;
  text-align: center;
  line-height: 1.2em;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#welcome p button {
  text-align: center;
  display: block;
  margin: 1em auto 0;
}
.form-horizontal .control-label {
  text-align: left;
  padding-top: 0;
}
.tagsinput-add,
.tagsinput-remove {
  background: none;
  border: 2px #2980b9 solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2980b9;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 7px 9px;
  vertical-align: top;
  -webkit-transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  transition: 0.25s linear;
}
.tagsinput-add:hover,
.tagsinput-remove:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background: none;
}
.tagsinput-add:active,
.tagsinput-remove:active {
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  transition: 0.1s ease;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.tagsinput-add {
  margin-left: 10px;
}
.tagsinput-remove:before {
  content: "\e600";
  font-family: "Flat-UI-Icons";
}
.form {
  position: absolute;
  width: 500px;
  background: #ecf0f1;
  border-right: 1px #acacac solid;
  margin-left: 100px;
  height: 100%;
  overflow: scroll;
}
.form h1 {
  background: #79b31f;
  color: #fff;
  margin: 0;
  font-size: 35px;
  padding: 10px 36px;
  font-weight: regular;
}
.form .form-campi {
  padding: 36px 36px 80px;
}
.form .form-campi label {
  font-size: 16px;
  font-weight: bold;
}
#famiglia-caller .form-group .col-sm-6 .form-control-feedback {
  right: 112px;
}
.famiglia-input {
  width: 100px;
  display: block;
  float: left;
}
#costo-conosciuto {
  display: none;
}
#titolo-auto,
#titolo-mezzi,
#titolo-spostamento {
  font-size: 1.6em;
  margin: 0.4em 0;
}
#titolo-auto .tagsinput-add,
#titolo-mezzi .tagsinput-add,
#titolo-spostamento .tagsinput-add {
  color: #79b31f;
  border-color: #79b31f;
  font-size: 0.3em;
}
#aggiungi-auto,
#aggiungi-abbonamento,
#aggiungi-spostamento {
  display: none;
}
.conferma-trasporti {
  margin-top: 20px;
  margin-bottom: 50px;
}
.conferma-trasporti div {
  display: inline-block;
}
.tabella-auto,
.tabella-mezzo {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 60px;
  padding-bottom: 5px;
  border-bottom: 2px #acacac solid;
}
.tabella-auto p,
.tabella-mezzo p {
  margin-bottom: 0;
}
.tabella-attivita {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px #acacac solid;
}
.tabella-attivita p {
  margin-bottom: 0;
}
.nome-auto,
.nome-mezzo,
.nome-attivita {
  font-size: 1.1em;
  margin: 0;
  position: relative;
}
.icon-auto,
.icon-mezzo {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: absolute;
  left: 0px;
}
.modifica-auto,
.modifica-mezzo,
.modifica-attivita {
  position: absolute;
  right: 15px;
  line-height: 52px;
  top: 0px;
}
.modifica-auto .fui-cross,
.modifica-mezzo .fui-cross,
.modifica-attivita .fui-cross {
  color: #c0392b;
}
.modifica-auto span,
.modifica-mezzo span,
.modifica-attivita span {
  padding-left: 10px;
}
.modifica-auto span:hover,
.modifica-mezzo span:hover,
.modifica-attivita span:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.icon-auto {
  content: url("../img/tabella_auto.svg");
}
.icon-mezzo {
  content: url("../img/tabella_bus.svg");
}
#container-risultato {
  position: absolute;
  left: 100px;
  top: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-right: 130px;
  width: calc(100% - 221px);
}
.tile-risultato {
  background: #ecf0f1;
  width: 500px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 1em;
}
.tile-risultato:last-child {
  margin-right: 1em;
}
.titolo-tile {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.8em;
  background: #79b31f;
  color: #fff;
  font-size: 1em;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.categorie-residenza,
.categorie-spostamenti,
.categorie-auto,
.categorie-mezzi {
  padding: 0 0.8em;
  margin-top: 0.8em;
}
.categorie-residenza .costo-sezione,
.categorie-spostamenti .costo-sezione,
.categorie-auto .costo-sezione,
.categorie-mezzi .costo-sezione {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  line-height: 1.4em;
}
.categorie-residenza .costo-auto-dettaglio,
.categorie-spostamenti .costo-auto-dettaglio,
.categorie-auto .costo-auto-dettaglio,
.categorie-mezzi .costo-auto-dettaglio {
  font-size: 14px;
  font-weight: 300;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1.5em;
}
.categorie-residenza .titolo-spostamenti,
.categorie-spostamenti .titolo-spostamenti,
.categorie-auto .titolo-spostamenti,
.categorie-mezzi .titolo-spostamenti,
.categorie-residenza .titolo-residenza,
.categorie-spostamenti .titolo-residenza,
.categorie-auto .titolo-residenza,
.categorie-mezzi .titolo-residenza,
.categorie-residenza .titolo-auto,
.categorie-spostamenti .titolo-auto,
.categorie-auto .titolo-auto,
.categorie-mezzi .titolo-auto,
.categorie-residenza .titolo-mezzi,
.categorie-spostamenti .titolo-mezzi,
.categorie-auto .titolo-mezzi,
.categorie-mezzi .titolo-mezzi {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  line-height: 0.5em;
  position: relative;
  margin-left: 1.1em;
}
.categorie-residenza .titolo-spostamenti::before,
.categorie-spostamenti .titolo-spostamenti::before,
.categorie-auto .titolo-spostamenti::before,
.categorie-mezzi .titolo-spostamenti::before,
.categorie-residenza .titolo-residenza::before,
.categorie-spostamenti .titolo-residenza::before,
.categorie-auto .titolo-residenza::before,
.categorie-mezzi .titolo-residenza::before,
.categorie-residenza .titolo-auto::before,
.categorie-spostamenti .titolo-auto::before,
.categorie-auto .titolo-auto::before,
.categorie-mezzi .titolo-auto::before,
.categorie-residenza .titolo-mezzi::before,
.categorie-spostamenti .titolo-mezzi::before,
.categorie-auto .titolo-mezzi::before,
.categorie-mezzi .titolo-mezzi::before {
  height: 1em;
  width: 1em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: -1.1em;
  top: -0.3em;
  content: " ";
}
.titolo-residenza::before {
  background: #2c3e4e;
}
.titolo-spostamenti::before {
  background: #2980b9;
}
.titolo-auto::before {
  background: #9b59b6;
}
.titolo-mezzi::before {
  background: #36cc71;
}
.risultato-sum-up {
  background: #313131;
  color: #fff;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  padding: 0 0.8em;
}
.risultato-sum-up p {
  text-align: center;
  margin: 0;
}
.categorie-container {
  float: left;
  width: 200px;
}
.risultato-graph {
  padding: 0.5em;
  float: left;
  width: 300px;
}
