// vendor prefixes
@import 'nib/index'

//varie ed eventuali
@import "colors"
@import "animations"


#left-sidebar
  position fixed
  height 100%
  width 100px
  background black

  #logo
    background light-black
    padding-top .1em

    #moreco-logo 
      width 80%
      display block
      margin .5em auto 0 auto
    #moreco-caption
      color white
      text-align center
      margin-top 0
      margin-bottom 0

  #new-session
    transition .3s
    padding .5em
    line-height 65px
    height 83px

    &:hover
      background light-black
      transition .3s
      p
        animation: shake .3s ease 1;

    p
      font-size 7em
      color white
      font-weight 300
      line-height 65px
      text-align center
      margin 0

#sponsor-sidebar
  position absolute
  right 0
  height 100%
  background light-grey
  padding-top .5em

  img
    padding 1em 0 0
    width 90%
    display block
    margin 0 auto

// welcome screen
#welcome
  larg = 400px

  position absolute
  top 20%
  background green
  width larg
  left calc(50% \- 200px)

  h1
    color white
    font-weight bold
    margin 0
    text-align center
    font-size 1.5em