@import "colors"
@import "animations"

#left-sidebar
  position fixed
  height 100%
  width 100px
  background black

  #logo
    background light-black
    padding-top .1em

    #moreco-logo 
      width 80%
      display block
      margin .5em auto 0 auto
    #moreco-caption
      color white
      text-align center
      margin-top 0
      margin-bottom 0

  #new-session
    transition .3s
    padding .5em
    &:hover
      background light-black
      transition .3s
      p

        -webkit-animation: shake .5s linear infinite;
        animation: shake .5s linear infinite;
    
    p
      -webkit-animation: shake .5s linear infinite;
      animation: shake .5s linear infinite;

      display inline-block
      font-size 8em
      color white
      font-weight 300
      line-height 75px
      text-align center
      margin-bottom 0

#sponsor-sidebar
  position absolute
  right 0
  height 100%
  background light-grey
  padding-top .5em

  img
    padding .5em 0 0