<h2 id="confronto-title">Confronto</h2>
<div id="confronto-content">  
    <ul id="confronto-legenda">
        <li id="confronto-residenza">Residenza</li>
        <li id="confronto-auto">Costo auto</li>
        <li id="confronto-trasporti">Trasporti pubblici</li>
    </ul>
    <div id="confronto-grafici-container">

    </div>

    <div id="confronto-grafici-testo">
        <div class="confronto-didascalia">
            Belluno, via dell'innovazione. Appartamento
        </div>
    </div>
</div>