    <div id="{{id_location}}" class="tile-risultato">
        <h3 class="titolo-tile">{{indirizzo}}<span class="fui-gear"></span></h3>
        <div class="clearfix">
            <div class="categorie-container">
                <div class="categorie-tile">
                    <div class="categorie-residenza">
                        <h4 class="titolo-residenza">Residenza</h4>
                        <p class="costo-sezione">{{costo_residenza}}€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-auto">
                        <h4 class="titolo-auto">Costo Auto</h4>
                        <p class="costo-sezione">{{costo_auto}}€</p>
                        <p class="costo-auto-dettaglio">Costi Fissi <strong>{{costi_fissi_auto}}€</strong>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-mezzi">
                        <h4 class="titolo-mezzi">Trasporti pubblici</h4>
                        <p class="costo-sezione">{{costo_trasporto_pubblico}}€</p>
                    </div>
                </div>
            </div>
            <div class="risultato-graph">
                <p class="text-center">Spese abitazione annuali</p>
                <canvas class="chart" width="220" height="220"></canvas>
            </div>
        </div>
        <div class="risultato-sum-up">
            <p id="costo-annuale">Costo annuale stimato: <span class="green">{{costo_abitazione_annuale}}€</p></span>
            <p>Tempo speso per trasporti: <span class="green">{{tempo_speso}} ore</span> a settimana.</p>
        </div>
    </div>
