<div id="container-risultato">
    <div class="tile-risultato">
        <h3 class="titolo-tile">Belluno, viale dei Giardini - Appartamento</h3>
        <div class="clearfix">
            <div class="categorie-container">
                <div class="categorie-tile">
                    <div class="categorie-residenza">
                        <h4 class="titolo-residenza">Residenza</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-spostamenti">
                        <h4 class="titolo-spostamenti">Spostamenti</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-auto">
                        <h4 class="titolo-auto">Costo Auto</h4>
                        <p class="costo-sezione">1200€</p>
                        <p class="costo-auto-dettaglio">Costi Fissi <strong>10€</strong><br>
                        Costi viaggi <strong>7€</strong></p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-mezzi">
                        <h4 class="titolo-mezzi">Trasporti pubblici</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
            </div>
            <div class="risultato-graph">
                <p class="text-center">Spese abitazione annuali</p>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="risultato-sum-up">
            <p>Costo annuale stimato: 31.086€</p>
            <p>Tempo speso per trasporti: 21 ore a settimana.</p>
        </div>
    </div>

    <div class="tile-risultato">
        <h3 class="titolo-tile">Belluno, viale dei Giardini - Appartamento</h3>
        <div class="clearfix">
            <div class="categorie-container">
                <div class="categorie-tile">
                    <div class="categorie-residenza">
                        <h4 class="titolo-residenza">Residenza</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-spostamenti">
                        <h4 class="titolo-spostamenti">Spostamenti</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-auto">
                        <h4 class="titolo-auto">Costo Auto</h4>
                        <p class="costo-sezione">1200€</p>
                        <p class="costo-auto-dettaglio">Costi Fissi <strong>10€</strong><br>
                        Costi viaggi <strong>7€</strong></p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-mezzi">
                        <h4 class="titolo-mezzi">Trasporti pubblici</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
            </div>
            <div class="risultato-graph">
                <p class="text-center">Spese abitazione annuali</p>
                <img src="img/moreco.svg" width="240px">
            </div>
        </div>
        <div class="risultato-sum-up">
            <p>Costo annuale stimato: 31.086€</p>
            <p>Tempo speso per trasporti: 21 ore a settimana.</p>
        </div>
    </div>

    <div class="tile-risultato">
        <h3 class="titolo-tile">Belluno, viale dei Giardini - Appartamento</h3>
        <div class="clearfix">
            <div class="categorie-container">
                <div class="categorie-tile">
                    <div class="categorie-residenza">
                        <h4 class="titolo-residenza">Residenza</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-spostamenti">
                        <h4 class="titolo-spostamenti">Spostamenti</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-auto">
                        <h4 class="titolo-auto">Costo Auto</h4>
                        <p class="costo-sezione">1200€</p>
                        <p class="costo-auto-dettaglio">Costi Fissi <strong>10€</strong><br>
                        Costi viaggi <strong>7€</strong></p>
                    </div>
                </div>
                <div class="categorie-tile">
                    <div class="categorie-mezzi">
                        <h4 class="titolo-mezzi">Trasporti pubblici</h4>
                        <p class="costo-sezione">1200€</p>
                    </div>
                </div>
            </div>
            <div class="risultato-graph">
                <p class="text-center">Spese abitazione annuali</p>
                <img src="img/moreco.svg" width="240px">
            </div>
        </div>
        <div class="risultato-sum-up">
            <p>Costo annuale stimato: 31.086€</p>
            <p>Tempo speso per trasporti: 21 ore a settimana.</p>
        </div>
    </div>

</div>