    <div id="spostamenti-form" class="form">
        <h1>Spostamenti</h1>
        <div class="form-campi">
            <form class="form-horizontal" role="form" id="spostamenti-caller">
              
                <div class="form-group">
                    <div id="spostamenti-container">
                    </div>
                </div>


                <h2 id="titolo-spostamento">Spostamento <div id="bottone-aggiungi-auto" class="tagsinput-add"></div></h2>
                <p>Inserisci i dati su base settimanale.</p>
                <div id="aggiungi-spostamento">    
                    <div class="form-group">
                        <label for="Comune" class="col-sm-6 control-label">Categoria</label>
                        <div class="col-sm-6">
                            <select name="motivo">
                              <option >Lavoro</option>
                              <option >Sport</option>
                              <option >Tempo Libero</option>
                              <option >Spese</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Metri quadri" class="col-sm-6 control-label">Descrizione</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input">
                                    <input type="text" placeholder="Rappresentanza" class="flat form-control" name="descrizione" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Metri quadri" class="col-sm-6 control-label">Frequenza</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control flat" placeholder="0" name="percorrenze" />
                                    <span class="input-group-addon">volte</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="Metri quadri" class="col-sm-6 control-label">Tempo stimato</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control flat" placeholder="0" name="tempo" />
                                    <span class="input-group-addon">min</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Metri quadri" class="col-sm-6 control-label">Distanza</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control flat" placeholder="0" name="distanza" />
                                    <span class="input-group-addon">km</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Comune" class="col-sm-6 control-label">Mezzo</label>
                        <div class="col-sm-6">
                            <select name="id_auto">
                                <option value="0" disabled selected="">Seleziona un'opzione</option>
                            </select>
                        </div>
                    </div>
    
                    <p class="text-center conferma-trasporti">
                        <div id="cancel-spostamento" class="btn btn-danger btn-wide">
                            Annulla
                        </div>
                        <div id="salva-spostamento"class="btn btn-primary btn-wide">
                            Salva
                        </div>
                    </p>
                </div>
            </form>
        </div>


        <div id="spostamenti-avanti">
            <button class="btn btn-primary btn-wide">
                Avanti
            </button>
        </div> 

    </div>