<!-- form trasporti -->
<div id="trasporti-form" class="form">
    <h1>Trasporti</h1>
    <div class="form-campi">
        <form class="form-horizontal" role="form" id="auto-caller">  
            <div class="form-group">
                
                <div id="auto-container">
                </div>
                
                <div id="mezzi-container">
                </div>

            </div>


            <h2 id="titolo-auto">Auto <div id="bottone-aggiungi-auto" class="tagsinput-add"></div></h2>
            <div id="aggiungi-auto">    
                <div class="form-group">
                    <label for="Metri quadri" class="col-sm-6 control-label">Nome</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input">
                                <input type="text" placeholder="Belluno" name="auto_nome" class="flat form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Classe" class="col-sm-6 control-label">Classe</label>
                    <div class="col-sm-6">
                        <select name="classe">
                          <option value="" disabled selected>Seleziona un'opzione</option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Alimentazione" class="col-sm-6 control-label">Alimentazione</label>
                    <div class="col-sm-6">
                        <select name="alimentazione">
                          <option value="0" disabled selected="">Seleziona un'opzione</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Percorrenza annua" class="col-sm-6 control-label">Percorrenza annua</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="percorrenza_annua" />
                                <span class="input-group-addon">km</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Costo parcheggio" class="col-sm-6 control-label">Costo parcheggio</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="abbonamento_parcheggio" />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Pedaggi autostradali" class="col-sm-6 control-label">Pedaggi autostradali</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="pedaggio_autostradale" />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Assicurazione" class="col-sm-6 control-label">Assicurazione</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="assicurazione" />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Costo al km" class="col-sm-6 control-label">Costo al km</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="molti soldi" name="costo_km" />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Costo fisso" class="col-sm-6 control-label">Costo fisso</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="millemila" name="costo_fisso" />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center conferma-trasporti">
                    <div id="cancel-auto" class="btn btn-danger btn-wide">
                        Cancel
                    </div>
                    <div id="save-auto"class="btn btn-primary btn-wide">
                        Save
                    </div>
                </div>
            </div>
        </form>
          
        <form class="form-horizontal" role="form" id="mezzi-caller">   
            <h2 id="titolo-mezzi">Mezzi pubblici <div id="bottone-aggiungi-mezzo" class="tagsinput-add"></div></h2>
            <div id="aggiungi-mezzo">
                <div class="form-group">
                    <label for="Comune" class="col-sm-6 control-label">Nome</label>
                    <div class="col-sm-6">
                        <select>
                          <option value="0">Tram</option>
                          <option value="1">Autobus</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                        <label for="Comune" class="col-sm-6 control-label">Tipo</label>
                        <div class="col-sm-6">
                            <select>
                              <option value="0">Abbonamento annuale</option>
                              <option value="1">Mensile</option>
                            </select>
                        </div>
                    </div>

                <div class="form-group">
                    <label for="Metri quadri" class="col-sm-6 control-label">Costo</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0"/>
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="text-center conferma-trasporti">
                <div class="btn btn-danger btn-wide">
                    Cancel
                </div>
                <div class="btn btn-primary btn-wide">
                    Save
                </div>
            </div>
            </div>
        </form>
    </div>


    <div id="trasporti-avanti">
        <button class="btn btn-primary btn-wide">
            Avanti
        </button>
    </div> 

</div>