<!-- form trasporti -->
<div id="trasporti-form" class="form">
    <h1>Trasporti</h1>
    <div class="form-campi">
        <form class="form-horizontal" role="form" id="auto-caller">  
            <div class="form-group">
                
                <div id="auto-container">
                </div>
                
                <div id="abbonamenti-container">
                </div>

            </div>

            <p>Aggiungi il mezzo di trasporto che utilizzi.</p>

            <h2 id="titolo-auto">Auto <div id="bottone-aggiungi-auto" class="tagsinput-add"></div></h2>
            <div id="aggiungi-auto"> 
                <div class="form-group">
                    <label for="Metri quadri" class="col-sm-6 control-label">Nome</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input">
                                <input type="text" placeholder="Alfa" name="auto_nome" class="flat form-control" 
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                maxlength="20"
                                data-bv-stringlength-min="0"
                                data-bv-stringlength-message="Nome troppo lungo."
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Classe" class="col-sm-6 control-label">Classe</label>
                    <div class="col-sm-6">
                        <select name="classe">
                          <option value="0" disabled selected>Seleziona un'opzione</option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Alimentazione" class="col-sm-6 control-label">Alimentazione</label>
                    <div class="col-sm-6">
                        <select name="alimentazione">
                          <option value="0" disabled selected="">Seleziona un'opzione</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Percorrenza annua" class="col-sm-6 control-label">Percorrenza annua</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="percorrenza_annua" 
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                data-bv-integer="true"
                                data-bv-integer-message="Inserisci un numero"
                                />
                                <span class="input-group-addon">km</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Costo parcheggio" class="col-sm-6 control-label">Costo parcheggio</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="abbonamento_parcheggio" value="0"
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                data-bv-numeric
                                data-bv-numeric-message="Inserisci un numero. <em>Esempio:</em> 12 o 20.5"
                                />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Pedaggi autostradali" class="col-sm-6 control-label">Pedaggi autostradali</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="pedaggio_autostradale" value="0"
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                data-bv-numeric
                                data-bv-numeric-message="Inserisci un numero. <em>Esempio:</em> 12 o 20.5"
                                />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Assicurazione" class="col-sm-6 control-label">Assicurazione</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="assicurazione"
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                data-bv-numeric
                                data-bv-numeric-message="Inserisci un numero. <em>Esempio:</em> 12 o 20.5"
                                />
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Costo al km" class="col-sm-6 control-label">Costo al km</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0.0" name="costo_km" readOnly="true"/>
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Costo fisso" class="col-sm-6 control-label">Costo fisso</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0.0" name="costo_fisso" readOnly="true"/>
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center conferma-trasporti">
                    <div id="cancel-auto" class="btn btn-danger btn-wide">
                        Annulla
                    </div>
                    <div id="save-auto" class="btn btn-primary btn-wide">
                        Salva
                    </div>
                </div>
            </div>
        </form>
          
        <form class="form-horizontal" role="form" id="abbonamenti-caller">   
            <h2 id="titolo-mezzi">Mezzi pubblici <div id="bottone-aggiungi-abbonamento" class="tagsinput-add"></div></h2>
            <div id="aggiungi-abbonamento">
                
                <div class="form-group">
                    <label for="Metri quadri" class="col-sm-6 control-label">Nome</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input">
                                <input type="text" placeholder="Tram" name="abbonamento_nome" class="flat form-control" 
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                maxlength="20"
                                data-bv-stringlength-min="0"
                                data-bv-stringlength-message="Nome troppo lungo."
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Categoria" class="col-sm-6 control-label">Categoria</label>
                    <div class="col-sm-6">
                        <select name="abbonamento_categoria">
                          <option value="0" disabled selected="">Seleziona un'opzione</option>
                          <option value="autobus">autobus</option>
                          <option value="treno">treno</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                        <label for="Durata" class="col-sm-6 control-label">Durata</label>
                        <div class="col-sm-6">
                            <select name="tipo">
                              <option value="0" disabled selected="">Seleziona un'opzione</option>
                              <option value="annuale">annuale</option>
                              <option value="semestrale">semestrale</option>
                              <option value="mensile">mensile</option>
                              <option value="settimanale">settimanale</option>
                            </select>
                        </div>
                    </div>

                <div class="form-group">
                    <label for="Metri quadri" class="col-sm-6 control-label">Costo</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control flat" placeholder="0" name="costo"
                                data-bv-notempty 
                                data-bv-notempty-message="Campo richiesto."
                                data-bv-numeric
                                data-bv-numeric-message="Inserisci un numero. <em>Esempio:</em> 12 o 20.5"/>
                                <span class="input-group-addon">€</span>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="text-center conferma-trasporti">
                <div id="cancel-abbonamento" class="btn btn-danger btn-wide">
                    Annulla
                </div>
                <div id="save-abbonamento" class="btn btn-primary btn-wide">
                    Salva
                </div>
            </div>
            </div>
        </form>
    </div>


    <div id="trasporti-avanti">
        <button class="btn btn-primary btn-wide">
            Avanti
        </button>
    </div> 

</div>